/**********
JLU colors 

JLU blau
#0069B3

JLU hellblau
#DCE6EB

JLU grau
#53606B
***********/


:root{
    
    --MAIN-TEXT-color:#53606B; /* Color of text by default */
    --MAIN-TITLES-TEXT-color: #53606B; /* Color of titles h2-h3-h4-h5 */
    --MAIN-LINK-color:#0069B3; /* Color of links */
    --MAIN-LINK-HOVER-color:#0069B3; /* Color of hovered links */
    --MAIN-ANCHOR-color: #0069B3; /* color of anchors on titles */

    --MENU-HEADER-BG-color:#DCE6EB; /* Background color of menu header */
    --MENU-HEADER-BORDER-color:#DCE6EB; /*Color of menu header border */ 

    --MENU-SEARCH-BG-color:#ffffff; /* Search field background color (by default borders + icons) */
    --MENU-SEARCH-BOX-color: #53606B; /* Override search field border color */
    --MENU-SEARCH-BOX-ICONS-color: #53606B; /* Override search field icons color */
    --MENU-SEARCH-BOX-TEXT-color: #53606B; 

    --MENU-SECTIONS-ACTIVE-BG-color: rgba(83, 96, 107, 0.2); /* Background color of the active section and its childs */
    --MENU-SECTIONS-BG-color:#DCE6EB; /* Background color of other sections */
    --MENU-SECTIONS-LINK-color: #53606B; /* Color of links in menu */
    --MENU-SECTIONS-LINK-HOVER-color: #0069B3;  /* Color of links in menu, when hovered */
    --MENU-SECTION-ACTIVE-CATEGORY-color: #53606B; /* Color of active category text */
    --MENU-SECTION-ACTIVE-CATEGORY-BG-color: rgba(83, 96, 107, 0.2); /* Color of background for the active category (only) */

    --MENU-VISITED-color: #0069B3; /* Color of 'page visited' icons in menu */
    --MENU-SECTION-HR-color: #0069B3; /* Color of <hr> separator in menu */
    
    --MENU-NAVIGATION-LINK-color: rgba(0, 105, 179, 0.4);
    --MENU-NAVIGATION-LINK-HOVER-color: rgba(0, 105, 179, 0.9);
    
    --CODE-BACKGROUND-color: #E6E6E6;
    
}


/* Font import */
@import url(https://fonts.googleapis.com/css?family=Fira+Sans);
@import url(https://fonts.googleapis.com/css?family=Fira+Code);
@import url(https://bpkleer.de/general/firamath/stylesheet.css);
@import url('http://fonts.cdnfonts.com/css/droid-serif-2');
@import url('http://fonts.cdnfonts.com/css/palatino-linotype');

body {
    color: var(--MAIN-TEXT-color) !important;
    font-family: 'Fira Sans','Droid Serif', 'Avenir', 'Palatino Linotype', serif;!important

}

textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus {
    border-color: none;
    box-shadow: none;
}


code, kbd, pre, samp {
    font-family: 'Fira Code', 'Lucida Console', Monaco, monospace;!important
}

p code {
    background-color: var(--CODE-BACKGROUND-color);
    border-color: var(--CODE-BACKGROUND-color);
    border-width: 1px;
}

.copy-to-clipboard {
    background-color: var(--CODE-BACKGROUND-color);
    border-color: var(--CODE-BACKGROUND-color);
    border-width: 4px;
}

.copy-to-clipboard:hover {
    background-color: darkgray;
    border-color: darkgray;
    border-width: 4px;
}

pre .copy-to-clipboard {
  background-color: --MENU-HEADER-BG-color;
}

pre .copy-to-clipboard:hover {
  background-color: darkgray;
}


h1 {
    font-family: 'Fira Sans','Droid Serif', 'Avenir', 'Palatino Linotype', serif;!important
}

h2, h3, h4, h5 {
    color: var(--MAIN-TITLES-TEXT-color) !important;
    font-family: 'Fira Sans','Droid Serif', 'Avenir', 'Palatino Linotype', serif;!important

}

a {
    color: var(--MAIN-LINK-color);
}

.anchor {
    color: var(--MAIN-ANCHOR-color);
}

a:hover {
    color: var(--MAIN-LINK-HOVER-color);
}

.figure {
  align: center;
  text-align: center;
  font-size: smaller;
}

img {
  min-width: 15rem;
  max-width: 40rem;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(220, 230, 235, 0.9);
}


.ghContributors img {
  min-width: 0rem; !important
}

#body .tags a.tag-link {
  background: var(--MAIN-LINK-color);
}

#body .tags a.tag-link::before {
  border-color: transparent var(--MAIN-LINK-color) transparent transparent;
}

#sidebar ul li.visited > a .read-icon {
	color: var(--MENU-VISITED-color);
}

#body a.highlight:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
    -ms-transition: width 0.5s ease;
    transition: width 0.5s ease;
    background-color: var(--MAIN-LINK-HOVER-color);
}

#sidebar {
	background-color: var(--MENU-SECTIONS-BG-color);
	border-right-color: var(--MAIN-TEXT-color);
  border-right-width: 0.15rem;
  border-right-style: solid;
}

#sidebar #header-wrapper {
    background: var(--MENU-HEADER-BG-color);
    color: var(--MENU-SEARCH-BOX-color);
    border-color: var(--MENU-HEADER-BORDER-color);
}
#sidebar .searchbox {
	border-color: var(--MENU-SEARCH-BOX-color);
    background: var(--MENU-SEARCH-BG-color);
}
#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
    background: var(--MENU-SECTIONS-ACTIVE-BG-color);
}
#sidebar .searchbox * {
    color: var(--MENU-SEARCH-BOX-ICONS-color);
}

#sidebar .searchbox input::placeholder {
    color: var(--MENU-SEARCH-BOX-TEXT-color);
}

#sidebar a {
    color: var(--MENU-SECTIONS-LINK-color);
}

#sidebar a:hover {
    color: var(--MENU-SECTIONS-LINK-HOVER-color);
}

#sidebar ul li.active > a {
    background: var(--MENU-SECTION-ACTIVE-CATEGORY-BG-color);
    color: var(--MENU-SECTION-ACTIVE-CATEGORY-color) !important;
}

#sidebar hr {
    border-color: var(--MENU-SECTION-HR-color);
    border-width: 0px;
}

#sidebar #shortcuts h3 {
    font-family: 'Fira Sans','Droid Serif', 'Avenir', 'Palatino Linotype', serif;!important
    font-size: 1.5rem;!important
}

#sidebar #footer {
  color: var(--MAIN-TEXT-color);
}

#sidebar #footer a {
  font-weight: bold;
}

#navigation a {
    color: var(--MENU-NAVIGATION-LINK-color);!important
}

#body a:hover {
    color: var(--MENU-NAVIGATION-LINK-HOVER-color);!important
}
